body{
    margin: 0;
    padding: 0;

}
nav{
     margin: 0;

    display: flex;
    justify-content: space-between;
    background-color: #014241;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
    color: rgb(4,68,67);
}
nav ul{
    display: flex;
    gap: 50px;
    justify-content: flex-end;
    font-size: 24px;
    list-style: none;
    flex-wrap: wrap;
}
nav ul li{

    padding: 4px 8px;

    color: #F5EFD8;
}

nav ul li:hover{
    background-color: #012d2d;
}


.active{
    border-bottom: 3px solid #F5EFD8;
    /* background-color: red; */
} 